<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>100 ЛЕТ</title>
    <script src="https://kit.fontawesome.com/0c84df8006.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<header id="header">
    <div class="headgrad">
        <div class="container">
            <nav class="navigation">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="logo d-md-flex justify-content-center">
                            <a class="navbar-brand" href="https://snu.edu.ua/">
                                <img src="../img/main/100_logo.gif" class="navbar-brand_logo d-inline-block align-top" alt="СНУ им. Даля">
                                <h1 class="navbar-brand_text">CХІДНОУКРАЇНСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ ІМЕНІ ВОЛОДИМИРА ДАЛЯ</h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 d-none d-lg-block ml-auto">
                        <ul class="social navbar-nav d-flex flex-row">
                            <li class="social_item nav-item">
                                <a href="https://t.me/snu_edu_ua" class="social_link nav-link">
                                    <i class="social_icon fab fa-telegram-plane"></i>
                                </a>
                            </li>
                            <li class="social_item nav-item">
                                <a href="https://www.facebook.com/snu.edu.ua/" class="social_link nav-link">
                                    <i class="social_icon fab fa-facebook-square"></i>
                                </a>
                            </li>
                            <li class="social_item nav-item">
                                <a href="https://twitter.com/SNU_EDU" class="social_link nav-link">
                                    <i class="social_icon fab fa-twitter-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="hundred col-md-8 mx-auto">
                    <div class="hundred-content text-center">
                        <img src="../img/main/100_hundredlogo.png" alt="100 ЛЕТ" class="hundred-content_img img-fluid">
                        <h3 class="hundred-content_text">Років</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main id="main">
    <section id="brief">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brief-title">
                        <h1 class="brief-title_text">
                            Коротке історичне зведення
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="brief-timeline">
                        <div class="brief-timeline_dot" id="one">
                            <span class="brief-timeline_date">1920</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_dot" id="two">
                            <span class="brief-timeline_date">1930</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_dot" id="three">
                            <span class="brief-timeline_date">1960</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_dot" id="four">
                            <span class="brief-timeline_date">1996</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_dot" id="five">
                            <span class="brief-timeline_date">2001</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_dot" id="six">
                            <span class="brief-timeline_date">2004</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_dot" id="seven">
                            <span class="brief-timeline_date">2010</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_dot" id="eight">
                            <span class="brief-timeline_date">2014</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_dot" id="eight">
                            <span class="brief-timeline_date">2014</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_dot" id="eight">
                            <span class="brief-timeline_date">2014</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_dot" id="eight">
                            <span class="brief-timeline_date">2014</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_dot" id="eight">
                            <span class="brief-timeline_date">2014</span>
                            <span></span>
                        </div>
                        <div class="brief-timeline_inside"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="brief-articles">
                        <div class="brief-articles_content">
                            <article class='one dn'>
                                <h2>Событие 1</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
                            </article>
                            <article class='two dn'>
                                <h2>Событие 2</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
                            </article>
                            <article class='three dn'>
                                <h2>Событие 3</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
                            </article>
                            <article class='four dn'>
                                <h2>Событие 4</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
                            </article>
                            <article class='five dn'>
                                <h2>Событие 5</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
                            </article>
                            <article class='six dn'>
                                <h2>Событие 6</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
                            </article>
                            <article class='seven dn'>
                                <h2>Событие 7</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
                            </article>
                            <article class='eight dn'>
                                <h2>Событие 8</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="video">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="video-title">
                        <h1 class="video-title_text">
                            100 років, як це було
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="video_content">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="video-description">
                        <div class="video-description_content text-justify">
                            <h3 class="video-description_title">
                                <i class="far fa-clock"></i>
                                Назва відео
                            </h3>
                            <p class="video-description_text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias aperiam at autem earum error est et eum explicabo facere harum hic illo iusto magnam nam necessitatibus non porro, quos recusandae rem saepe sint vero voluptatem voluptatum! Aliquam aspernatur at facilis harum, iste iusto odit officia quae quibusdam similique?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="white-space"></div>
    <section id="history">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <?php foreach($articles as $article): ?>
                    <div id="<?= $article['id'];?>" class="history-block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="history-title text-center">
                                    <h1 class="history-title_text">
                                        <?= $article['title']; ?>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 col-lg-10 mx-auto">
                                <div class="history-img text-center">
                                    <img src="../img/main/<?=$article['fotoname'];?>.png" class="img-fluid history-img_img" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 col-lg-10 mx-auto">
                                <div class="history-description text-justify">
                                    <i class="fas fa-scroll"></i>
                                    <p class="history-description_text">
                                        <?= $article['text']; ?>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </section>
    <div id="timeline" class="d-none">
        <div class="left-content">
            <?php foreach($timeline['right'] as $time): ?>
            <p>
                <a href='<?="#".$time[1]?>' class="flowing-scroll"><?= $time[0]; ?></a>
            </p>
            <?php endforeach; ?>
        </div>
        <div class="right-content">
            <?php foreach($timeline['left'] as $time): ?>
            <p>
                <a href='<?="#".$time[1]?>' class="flowing-scroll"><?= $time[0]; ?></a>
            </p>
            <?php endforeach; ?>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <div class="row d-flex justify-content-around align-items-center">
            <div class="col-12 col-md-8 text-center">
                <div class="footer-copyright text-center py-3">Copyright © 2020
                </div>
            </div>
            <div class="col-12 col-md-2 text-center">
                <div class="row">
                    <div class="col-6 col-md-12 text-center">
                        <a href="../view/admin2.php">Войти</a>
                    </div>
                    <div class="col-6 d-md-none text-center">
                        <ul class="footer-social navbar-nav d-flex flex-row">
                            <li class="footer-social_item nav-item">
                                <a href="https://t.me/snu_edu_ua" class="footer-social_link nav-link">
                                    <i class="footer-social_icon fab fa-telegram-plane"></i>
                                </a>
                            </li>
                            <li class="footer-social_item nav-item">
                                <a href="https://www.facebook.com/snu.edu.ua/" class="footer-social_link nav-link">
                                    <i class="footer-social_icon fab fa-facebook-square"></i>
                                </a>
                            </li>
                            <li class="footer-social_item nav-item">
                                <a href="https://twitter.com/SNU_EDU" class="footer-social_link nav-link">
                                    <i class="footer-social_icon fab fa-twitter-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>